<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.af.lib.utils">

    <!-- 以 Android 11 及以上系统版本为 target 的应用，申请全局外部存储访问权限，Google Play 会严格审查申请该权限的应用上架资质，这点我们暂时不管 -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
</manifest>
